<div class="footer-cm">
  <div class="footer-cm-left">
    <h3 class="margin-strip mb-10px darkmediumgray-text">Get in touch</h3>
    <p class="margin-strip">contact@cocktailmemories.com</p>
  </div>
  <div class="footer-cm-right">
    <div class="newsletter">
      <p class="margin-strip">SIGN UP FOR OUR NEWSLETTER ></p>
    </div>
    <div class="flexbox-startend">
      <p class="font-13px darkmediumgray-text">Made by Studio Bole</p>
    </div>
  </div>
</div>
