.card-cm {
  width: 60vw;
  height: 500px;
  display: flex;
  margin-bottom: 20px;
}

.card-cm-half {
  height: 100%;
  width: 50%;
}

.card-cm-vertical {
  height: 500px;
}

.card-cm-vertical-top {
  height: 90%;
}

.card-cm-vertical-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
}
