.card-cm {
  width: 60vw;
  height: 300px;
  display: flex;
  margin-bottom: 20px;
}

.card-cm-half {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
