.flexbox-startend {
  display: flex;
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.flexdirection-column {
  flex-direction: column;
}

.justifycontent-center {
  justify-content: center;
}

.alignitems-flexstart {
  align-items: flex-start;
}
