.navbar-cm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid $white-smoke;
}

.navbar-cm-search {
  border-radius: 30px;
  font-size: 17px;
  color: gray;
}

.navbar-cm-right {
  display: flex;
  align-items: center;
  i {
    margin-left: 10px;
    font-size: 22px;
  }
}

.navbar-cm-2-middle {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0 10px;
    font-size: 15px;
  }
}
