.margin-strip {
  margin: 0;
}

.mb-30px {
  margin-bottom: 30px;
}

.mb-40px {
  margin-bottom: 40px;
}

.p-20px {
  padding: 20px;
}

.p-40px {
  padding: 40px;
}

.mb-80px {
  margin-bottom: 80px;
}

.mt-10px {
  margin-top: 10px;
}

.mb-50px {
  margin-bottom: 50px;
}

.mb-10px {
  margin-bottom: 10px;
}

.padding-strip {
  padding: 0;
}

.pl-40px {
  padding-left: 40px;
}

.px-20px {
  padding-left: 20px;
  padding-right: 20px;
}

.pb-10px {
  padding-bottom: 10px;
}

.mx-20px {
  margin-left: 20px;
  margin-right: 20px;
}

.py-40px {
  padding-top: 40px;
  padding-bottom: 40px;
}

.px-30px {
  padding-left: 30px;
  padding-right: 30px;
}
